name: Auto reply for qna category
on:
  discussion:
    types: [created]

permissions:
  discussions: write

jobs:
  auto-reply:
    runs-on: ubuntu-latest
    steps:
      - name: Reply to discussion in Q&A category
        uses: actions/github-script@v7
        with:
          script: |
            const discussion = context.payload.discussion;
            const categoryName = discussion.category.name;

            if (categoryName !== 'Q&A') {
              return;
            }

            await github.rest.discussions.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              discussion_number: discussion.number,
              body: `안녕하세요. Npay 입니다. 
              
              문의가 접수되었습니다.
              확인하는대로 답변드리겠습니다. 
              
              감사합니다.`            });
              
